{% extends 'base.html' %}


{% block head %}
<title>Weather Sensor</title> 
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">A Rainy Day</h1>

    <table>
        <tr>
            <th>Sensor ID</th>
            <th>Sensor Name</th>
            <th>Sensor Country</th>
            <th>Sensor City</th>
            <th>Actions</th>
        </tr>
        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.country }}</td>
                <td>{{ sensor.city }}</td>
                
                <td>
                    <button class="button" onclick="location.href = '/delete/{{sensor.id}}';" id="myButton" >Delete Sensor</button>
                    <br>
                
                    <button class="button" onclick="location.href = '/update/{{sensor.id}}';" id="myButton">Update Sensor Weather</button>
                </td>
            </tr>
        {% endfor %}
    </table>

<form action="/" method="POST">
    <br>
    <label for="name">The Sensor Name:</label>
    <input type="text" name="name" id="name" pattern="[^A-Za-z0-9]+" title="Valid Sensor Name"><br>
    <label for="country">The Sensor Country: </label>
    <input type="text" name="country" id="country" pattern="[A-Za-z]*" title="Valid Country Name"><br>
    <label for="city">The Sensor City:</label>
    <input type="text" name="city" id="city" pattern="[A-Za-z]*" title="Valid City Name"><br>
<br>

    <input type="submit" value="Add Sensor">
    <br>
</form>
<br>
<form action="/search">
    <input type="submit" value="Search Weather Updates" />
    <br>
    <br>
</form>
</div>
{% endblock %}