{% extends 'base.html' %}


{% block head %}
<title>Weather Sensor</title> 
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">A Rainy Day</h1>

    <table>
        <tr>
            <th>Sensor ID</th>
            <th>Sensor Country</th>
            <th>Sensor City</th>
            <th>Actions</th>
        </tr>
        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.country }}</td>
                <td>{{ sensor.city }}</td>
                
                <td>
                    <button onclick="location.href = '/delete/{{sensor.id}}';" id="myButton" class="float-left submit-button" >Delete Sensor</button>
                    <br>
                    <br>
                    <button onclick="location.href = '/update/{{sensor.id}}';" id="myButton" class="float-left submit-button" >Update Sensor Weather</button>
                </td>
            </tr>
        {% endfor %}
    </table>

<form action="/" method="POST">
    <br>
    <label for="name">Sensor Name</label><br>
    <input type="text" name="name" id="name"><br>
    <label for="country">Sensor Country</label><br>
    <input type="text" name="country" id="country"><br>
    <label for="city">Sensor City</label><br>
    <input type="text" name="city" id="city"><br>
<br>

    <input type="submit" value="Add Sensor">
    <br>
</form>
<br>
<form action="/search">
    <input type="submit" value="Go to Searcher" />
    <br>
    <br>
</form>
</div>
{% endblock %}